# Node.js
/node/node_modules/
/node/logs
/node/*.log
/node/npm-debug.log*
/node/yarn-debug.log*
/node/yarn-error.log*

# React
/react/node_modules/
/react/build/
/react/.env

# Nginx
/nginx/*.log
/nginx/conf.d/*.conf

# Data folder
/data/

# Miscellaneous
.DS_Store
*.swp

# Estructura proyecto
estructura_proyecto/
analyze_project.py

# envs

*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
